.cardContainer {
    display: flex;
    margin-right: 20px;
}

.description {
    margin-left: 30px;
}

.desc {
    text-transform: uppercase;
    color: #dddddd;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.dates {
    font-size: 16px;
    font-weight: normal;
    color: #f065a7;
}

.task {
    font-weight: normal;
    font-size: 18px;
    color: #dddddd;
}

@media screen and (max-width: 640px) {
    .cardContainer {
        display: flex;
        margin-right: 50px;
    }
    
    .description {
        margin-left: 10px;
    }
    
    .desc {
        text-transform: uppercase;
        color: #dddddd;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.1em;
    }
    
    .dates {
        font-size: 8px;
        font-weight: normal;
        color: #f065a7;
    }
    
    .task {
        font-weight: normal;
        font-size: 9px;
        color: #dddddd;
    }
    .image{
        height: 80px;
    }
}